{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },

  "plugins": [
    "react"
  ],

  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}