# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# Build artifacts
build/
canisters/

# dfx temporary files
.dfx/
dist/

# frontend code
node_modules/